@import './variables';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: $Roboto;
}

#root {
    height: 100%;
}

body {
    aspect-ratio: 1.40625;
}

a {
    text-decoration: none;
    color: inherit;
  }