@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Fonts */
$Roboto: 'Roboto', sans-serif;

/* Variables */
$red-generic: #FF0101;
$light-grey-generic: #FBFBFB;
$dark-grey-generic: #282D30;